 /*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:    Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.well .page-header {
   margin-top: 0;
}

.well .page-header h1 {
   margin-top: 0;
}

ul.unstyled {
   list-style: none;
   padding: 0;
}


/* --------------------------------------
   Header & Navbar
   -------------------------------------- */
 header .navbar{
   background-color: black;
   color:white;
 }

 header a.navbar-brand{
   font-family: 'Tangerine', serif;
   font-size: 30px;
   text-shadow: 5px 5px 5px green;
   padding-top: 5px;
   color:white;
   
 }
header img{
   margin-top:5px;
   margin-left:0;
   width:30px;
   height: 40px;
}
header a img{
   height: 35px;
   width: 35px;
   padding-bottom: 5px;
   align-content:left;
}

   #searchInput {
   width: 200px;
}

.navbar-brand {
   padding: 13px 15px;
}

/* End of styling for header and navbar*/

/* --------------------------------------
   Carousel
   -------------------------------------- */
##myCarousel {
   margin-top: 60px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   color:white;
   font-size: 32px;
}

.carousel-caption h2 {
   color:black;
   font-size: 50px;
}


.carousel-caption p{
   color:#e3e3e3;
   font-size: 20px;
}

#myCarousel .item { height: 400px; }


#slide1 {
   background: url('../../images/shopping.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/ourmission.jpg') top center no-repeat;
}

/*end of styling for carousel*/

#register{
   margin-top: 15px
}



/*Styling for more features*/

#featuresHeading{
   font-size: 35px;
   color: black;
   background-color: #c5d5cb;
   width: 100%;
   padding-left: 10px;
   margin-left: 0px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#featuresHeading {
   line-height: 2px:
   margin-bottom:10px; 
}

.yourBrand{
   margin-bottom: 20px;
}
  
.feature h2.yourBrand{
   font-size: 35px;
   color:#e3e3e3;
   background-color: #004800;
   padding-left;20px;
   width: 100%;
}


.feature h2.mission{
   font-size: 35px;
   color:white;
   background-color: #004800;
   padding-left;20px;
   width: 100%;
}

.feature ul li{
   font-size: 20px;
}

.feature p{
   font-size: 20px;
   text-align: justify;
}


#features .feature{
   margin-bottom:20px;
}

/*end of styling for more features*/

 
#featuresHeading h2.new{
   text-align: center;
   background-color: #c5d5cb;
   color:black;
   width:100%;
   height: 50px;
   padding-top: 5px;
}

#newfeatures img{
   width:75px;
   height:75px;
   margin-top:10px;
   margin-bottom: 40px;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* -------styling for footer------ */
footer{
   width:100%;
   background-color: black;
   color:white;
   padding-left: 10px;
   margin-top:10px;
}

footer p{
   text-align: justify;
}

footer li{
   list-style: none;
}
footer li a{
   padding-right: 10px;
}

/*end of styling for footer*/

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */


@media (max-width: 480px) {

   
   .thumbnail .price {
      font-size: 14px;
   }
   
   .thumbnail .price sup {
      font-size: 10px;
   }

   .carousel-caption h4 {
   color:#E74C3C;
   padding-top: 5px;
   font-size: 15px;
}
.carousel-caption p{
   color:#6799a3;
   font-size: 10px;
   font-style: bold;
}

#slide1 {
      background: url('../../images/slide1_480.png') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_480.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_480.jpg') top center no-repeat;
   }

   img#yourBrand{
      background: url('../../images/yourBrand_480.png') top center no-repeat;
   }
   
   img#missionControl{
      background: url('../../images/missionControl_480.png') top center no-repeat;
   }
}



/* Landscape phone to portrait tablet */



@media (max-width: 768px) {
   
   #myCarousel .item { height: 310px; }
   
   #slide1 {
      background: url('../../images/slide1_768.png') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_768.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_768.jpg') top center no-repeat;
   }
   
  
   .carousel-caption {
      font-size: 16px;
   }
   
   .carousel-caption h4 {
      font-size: 22px;
   }
   
}

/* Large desktop */
@media (min-width: 1200px) {

   #myCarousel .item { height: 500px; }
   
   #slide1 {
      background: url('../../images/slide1_1200.jpg') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_1200.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_1200.jpg') top center no-repeat;
   }
  

}


